body {
    font-family: Arial, sans-serif;
    background-color: #101010;
    color: #fff;
    text-align: center;
    padding: 40px;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #ff3c00;
    color: white;
    cursor: pointer;
}

video {
    margin-top: 20px;
    border-radius: 10px;
}

img {
    margin-top: 10px;
    border-radius: 5px;
    width: 200px;
}
